<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
  Stripe.setPublishableKey('pk_test_HmnZw3G1iR2Bbhq1JmfudxvY');
</script>

<div id="flash-error"><%= flash[:error] %></div>

  <%= form_tag purchases_path, id: 'purchase-form', class: 'stripe-purchase-form', method: :post do %>
    <div class="stripe-purchase-form">
      <div class="payment-errors"></div>

      <input class="form-control" type="hidden" name="purchase[ticket_id]" value="<%= @view_model.ticket.id %>">

      <div class="purchase-form-group">
        <label for="purchaser_name">Purchaser Name</label>
        <input class="form-control" id="purchaser_name" type="text" name="purchase[purchaser_name]" placeholder="Name"/>
      </div>

      <div class="purchase-form-group">
        <label for="phone_number">Phone Number</label>
        <input class="form-control" id="phone_number" type="tel" name="purchase[phone_number]" />
      </div>

      <div class="purchase-form-group">
        <label for="phone_number">Email</label>
        <input class="form-control" id="phone_number" type="email" name="purchase[email]" placeholder="me@example.com"/>
      </div>

      <div class="purchase-form-group">
        <label for="card-number">Card Number</label>
        <input class="form-control" id="card-number" type="number" data-stripe="number" placeholder="4321 4321 4321 4321"/>
      </div>

      <div class="purchase-form-group">
        <label for="card-exp-month">Card Expiration Month</label>
        <select class="form-control" id="card-exp-month" data-stripe="exp_month">
          <option>01</option>
          <option>02</option>
          <option>03</option>
          <option>04</option>
          <option>05</option>
          <option>06</option>
          <option>07</option>
          <option>08</option>
          <option>09</option>
          <option>10</option>
          <option>11</option>
          <option>12</option>
        </select>
      </div>

      <div class="purchase-form-group">
        <label for="card-exp-year">Card Expiration Year</label>
        <select class="form-control" id="card-exp-year" data-stripe="exp_year">
          <option>2015</option>
          <option>2016</option>
          <option>2017</option>
          <option>2018</option>
          <option>2019</option>
          <option>2020</option>
          <option>2021</option>
          <option>2022</option>
          <option>2023</option>
          <option>2024</option>
          <option>2025</option>
          <option>2026</option>
          <option>2027</option>
          <option>2028</option>
          <option>2029</option>
          <option>2030</option>
        </select>
      </div>

      <div class="purchase-form-group">
        <label for="card-cvc">CVC</label>
        <input class="form-control" id="card-cvc" type="number" data-stripe="cvc" />
      </div>

      <div class="purchase-form-group">
        <input type="submit" class="btn stripe-purchase-btn" value="Purchase Ticket">
      </div>

    </div>
  <% end %>

<%= javascript_include_tag "purchases.js" %>
