<h2>Thanks, <%= @name %>!</h2>
<h3>You paid <strong><%= number_to_currency(@amount.to_f / 100) %></strong>.</h3>
<h3>You'll be receiving a text message with your confirmation id for your reservation at <%= @phone %>.</h3>
