<table class="table">
  <caption>Ticket Details</caption>
  <thead>
    <th>Discount</th>
    <th>Min Total Spend</th>
    <th>Group Size</th>
    <th>Purchaser Name</th>
  </thead>
  <tbody>
    <% collection.models.forEach(function(result) { %>
    <tr>
      <td><%= result.discount * 100 %></td>
      <td><%= result.min_total_spend %></td>
      <td><%= result.group_size %></td>
      <td><%= result.purchaser_name %></td>
    </tr>
    <% }); %>
  </tbody>
</table>