<table class="table">
  <caption>Ticket Details</caption>
  <thead>
    <th>Discount</th>
    <th>Min Total Spend</th>
    <th>Group Size</th>
    <th>Purchaser Name</th>
  </thead>
  <tbody>
    <% promotion.tickets.each do |ticket| %>
    <tr>
      <td><%= number_to_percentage(ticket.discount * 100, precision: 2) %></td>
      <td><%= number_to_currency(ticket.min_total_spend.to_f, locale: :en) %></td>
      <td><%= ticket.group_size %></td>
      <td>Purchaser</td>
    </tr>
    <% end %>
  </tbody>
</table>