@import "bootstrap-sprockets";
@import "bootstrap";

@import "navbar";
@import "dashboard";

@import "restaurants";
@import "purchase";
@import "ticket";
@import "map";

body {
  font-family: 'Lato';
  font-weight: 400;
  background-image: url("cream_pixels.png");
  background-repeat: repeat;
}
