@import "bootstrap-sprockets";
@import "bootstrap";

@import "navbar";
@import "dashboard";

@import "restaurants";
@import "purchase";
@import "ticket";
@import "map";
@import "promotion";
@import "sessions";


body {
  font-family: 'Lato';
  font-weight: 400;
  background-image: image-url("cream_pixels.png");
  background-repeat: repeat;
  margin-bottom: 100px;
}

.wrapper {
  padding-top: 105px;
}

footer {
  width: 100%;
  left: 0;
  bottom: 0;
  position: fixed;
  height: 40px;
  background: #333333;
  color: #bbbbbb;
  padding: 10px;
}
