.dashboard-restaurant-data {
  display: inline-block;
  vertical-align: center;
}

.dashboard-restaurant-name {
  color: #1FA5BF;
}

.dashboard-promo-btn {
  border: none;
  margin-top: inherit;
  background-color: #1FA5BF;
  border: none;
}

.dashboard-new-promo-button {
  display: inline-block;
  margin-top: 20px;
  margin-right: 10px;
  float: right;
  vertical-align: center;
}

.dashboard-hr {
  border-top: 1px solid black;
  clear: both;
}

.promo-header {
  margin-left: 20px;
  margin-bottom: 20px;
}

.promo-table {
  /*border: 1px solid green;*/
  margin-bottom: 30px;;
}

.promo-table th {
  width: 18%;
  text-align: center;
  padding: 4px;
  font-size: 14px;
}

.promo-table thead {
  width: 100%;
}

.promo-table td {
  width: 18%;
  text-align: center;
  padding: 4px;
  font-size: 14px;
}

.promo-table tbody {
  width: 100%;
}

.view-tickets-btn {
  font-size: 16px;
  color: white;
  a {
    width: 100%;
    display: inline-block;
  }
}

.view-tickets-btn-div {
  background-color: #F07241;
  border: none;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  a {
    color: #fff;
    display: inline-block;
    width: 100%;
    padding: 3px;
  }
}

.view-tickets-btn-div:hover {
  background-color: #C04848;
  a {
    color: #fff;
    text-decoration: none;
  }
}

.ticket-div {
  margin-top: 65px;
}


/*** NEW PROMOTION CSS ***/

#promo-date-picker {
  line-height: inherit;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



/*.restaurant-name {
    text-align: center;
}

.promo-name {
    display: inline;
}

.promo-percent {
    width: 20%;
    float: right;
}

.label-primary {
    font-size: 1.5em;
}

.ticket-row-height {
  line-height: 5em;
}*/
