
.navbar-brand {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin: auto;
  font-family: "Oswald", sans-serif;
  font-size: 50px;
}

.navbar {
  background-color: black;
  border-radius: 0px;
  margin-bottom: 0px;
  height: 100px;
}

.navbar-header {
  margin-top: 20px;
}

.jumbotron {
  height: 400px;
  background-image: url("exampleimage.png");
  background-position: 0 3000;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin-bottom: 0px;
}

#home-splash {
  background-color: #FF7800;
  height: 350px;
  text-align: center;
  padding: 50px;
}
