
.view-tickets {
  border: none;
}

.ticket-hr {
  border-top: 1px solid #333;
}

.view-tickets-promo-name {
  font-weight: 500;
  font-size: 18px;
  border-bottom: 1px solid #333;
  padding: 0px 0px 10px 5px;
}

.ticket-header-item {
  text-align: center;
  display: inline-block;
  width: 23%;
  font-size: 12px;
  font-weight: 600;
  margin-top: 5px;
}

.view-tickets-data {
  margin-bottom: 25px;
}

.ticket-data-item {
  display: inline-block;
  width: 23%;
  text-align: center;
}

.ticket-form {
  display: inline-block;
}

.purchase-ticket-btn {
  margin: 7px 0;
  width: 75px;
}

.restaurant-show-details {
  margin-bottom: 0;
}


