.restaurant-name {
    text-align: center;
}

.promo-name {
    display: inline;
}

.promo-percent {
    width: 20%;
    float: right;
}

.label-primary {
    font-size: 1.5em;
}

.ticket-row-height {
  line-height: 5em;
}
