<div class="table-responsive" style="display: none;">
  <table class="table">
    <caption>Ticket Details</caption>
    <thead>
      <th>Discount</th>
      <th>Min Total Spend</th>
      <th>Group Size</th>
      <th>Purchaser Name</th>
    </thead>
    <tbody>
      <% promotion.tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.discount.to_f %></td>
        <td><%= ticket.min_total_spend %></td>
        <td><%= ticket.group_size %></td>
        <td>Purchaser</td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>