<div class="table ticket" id="tickettable" style="display: none;">
  <div class="title">
    <p>Ticket Details</p>
  </div>
    <div class="heading">
      <div class="cell">
        <p>Discount</p>
      </div>
      <div class="cell">
        <p>Minimum Total Spend</p>
      </div>
      <div class="cell">
        <p>Group Size</p>
      </div>
      <div class="cell">
        <p>Purchaser</p>
      </div>
    </div>
    <div class="row">
      <div class="cell">
        <p>"Discount"</p>
      </div>
      <div class="cell">
        <p>"min_total_spend"</p>
      </div>
      <div class="cell">
        <p>group_size</p>
      </div>
      <div class="cell">
        <p>"purchaser"</p>
      </div>
    </div>
</div>

