<table class="table" id="tickettable" style="display: none;">
  <caption>Ticket Details</caption>
  <thead>
    <th>Discount</th>
    <th>Minimum Total Spend</th>
    <th>Group Size</th>
    <th>Purchaser</th>
  </thead>

  <tbody>

    <td>discount </td>
    <td>min_total_spend </td>
    <td>group_size </td>
    <td>purchaser </td>

  </tbody>

</table>

