<nav class="navbar">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "MEAL TICKET", root_path, class: "navbar-brand" %>
    </div>
    <!-- <%# if current_page?('/map') %>
      <div class="map-explanation">
        Select a pin to see great meal deals!
      </div>
    <%# end %> -->
<!--     <%# if owner_signed_in? %>
      Logged in as <strong><%#= current_owner.email %></strong>.
      <%#= link_to 'Edit profile', edit_owner_registration_path %> |
      <%#= link_to "Logout", destroy_owner_session_path, method: :delete %>
    <%# else %>
      <%#= link_to "Sign up", new_owner_registration_path %> |
      <%#= link_to "Login", new_owner_session_path %>
    <%# end %> -->
  </div>
</nav>
